.bd-placeholder-img {
  font-size          : 1.125rem;
  text-anchor        : middle;
  -webkit-user-select: none;
  -moz-user-select   : none;
  user-select        : none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

main>.container {
  padding: 60px 15px 0;
}

.sp3-divider {
  width: 100vw;
  max-width: 100vw;
  margin-top: -4px;
  margin-left: calc(50% - 50vw);
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
